<div class='header'>
  <h1>Gaff Compiler</h1>
</div>
<div class='panels'>
  <div class='log'>
    <div ng-repeat='event in events'>
      <div class='event' ng-class='event.severity'>
        <div class='date'>{{ event.timestamp * 1000 | date : 'yyyy-MM-dd' }}</div>
        <div class='time'>{{ event.timestamp * 1000 | date : 'HH:mm:ss' }}</div>
        <div class='severity'>{{ event.severity }}</div>
        <div class='message'>{{ event.message }}</div>
      </div>
    </div>
  </div><div class='output'><div ng-repeat='line in output track by $index'><div class='line' ng-class-odd='"odd"'><div class='line-number'>{{ $index+1 }}</div><span class='content' ng-bind-html='line'></span></div></div></div>
</div>
