<div class="debugger">
  <span class="glyphicon glyphicon-minus toggle" ng-show="open" ng-click="open=false"></span>
  <span class="glyphicon glyphicon-plus toggle" ng-show="!open" ng-click="open=true"></span>
  <div class='title'>Debug</div>
  <div ng-show="open">
    <div class='section'>
      <div class='name'>Viewport</div>
      <div class='field half'>
        <div class='name min'>Map</div><div class='value'>X={{ mapViewport.x1 }}-{{ mapViewport.x2 }}, Y={{mapViewport.y1}}-{{ mapViewport.y2 }}</div>
      </div><div class='field half'>
        <div class='name min'>Screen</div><div class='value'>X={{ screenViewport.x1 }}-{{ screenViewport.x2 }}, Y={{screenViewport.y1}}-{{ screenViewport.y2 }}</div>
      </div>
    </div>
    <div class='section'>
      <div class='name'>Size</div>
      <div class='field half'>
        <div class='name half'>Map</div><div class='value half'>{{ mapSize.width }}x{{ mapSize.height }}</div>
      </div><div class='field half'>
        <div class='name half'>Screen</div><div class='value half'>{{ screenSize.width }}x{{ screenSize.height }}</div>
      </div>
    </div>
    <div class='section'>
      <div class='name'>Zoom</div>
      <div class='field half'>
        <div class='name half'>Level</div><div class='value half'>{{ zoomLevel }}</div>
      </div><div class='field half'>
        <div class='name half'>Scale</div><div class='value half'>{{ zoomScale }}x</div>
      </div>
    </div>
    <div class='section'>
      <div class='name'>Mouse</div>
      <div class='field half'>
        <div class='name half'>Map/Scene</div><div class='value half'>{{ mousePositionRelative[0] }}, {{ mousePositionRelative[1] }}</div>
      </div><div class='field half'>
        <div class='name half'>Screen</div><div class='value half'>{{ mousePositionScreen.x }}, {{ mousePositionScreen.y }}</div>
      </div>
    </div>
    <div class='section'>
      <div class='name'>Display</div>
      <div class='field'>
        <div class='name min'>Show regions?</div><div class="value">
          <div class="btn-group btn-group-xs" data-toggle="buttons">
            <label class="btn btn-primary" ng-click="setRegionDisplay(true)">
              <input type="radio"/>Yes
            </label>
            <label class="btn btn-primary active" ng-click="setRegionDisplay(false)">
              <input type="radio" />No
            </label>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
