// ui.less -- User interface elements

@import (reference) "constants.less";

.fullscreen() {
    position: fixed;
    display: block;
    left: 0px; right: 0px; top: 0px; bottom: 0px;
}

.modal() {
    visibility: hidden;
    &.visible { visibility: visible; }
}

.modalBg() {
    .fullscreen();
    background-color: black;
    opacity: 0.65;
}

.tooltip {
  .layerGlobal();
}

.region() {
    display: block;
    cursor: pointer;
    &.showRegion {
      border: 2px solid blue;
    }
}

.uiWindow() {
    padding: 2px;
    border: 2px solid #CDCDCD;
    display: block;
    position: fixed;
    background-color: white;
    .half { width: 50%; }
    .third { width: 33%; }
    .quarter { width: 25%; }
    .title {
      font-size: 11pt;
      font-weight: bold;
      margin-bottom: 2px;
    }
    >.toggle {
      float: right;
    }
    .section {
        margin-bottom: 2px;
        >.name { font-weight: bold; }
        .field {
            display: inline-block;
            >.name { display: inline-block; }
            .value { display: inline-block; }
        }
        .min { padding-right: 10px; }
    }
}

.debugger {
    .layerGlobal();
    .uiWindow();

    top: 60px; right: 20px;
    width: 430px; 
    font-size: 10pt;
}

